#chatbox {
    list-style-type: none;
    border: 1px solid black;
    max-width: 50%;
    height: 20em;
    padding: 0;
    overflow: auto;
}
#chatbox li {
    margin: 0 1px 1px 0;
    padding: 0;
    vertical-align: top;
    overflow: auto;
}
#chatbox li p {
    margin: 0;
    padding: 0;
    float: left;
}
.message {
    color: red;
}
